.swiper {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}

.swiper-pagination-bullet-active {
  background: #000;
}
.swiper-button-prev,
.swiper-button-next {
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 16px;
  font-weight: bold;
  color: #000;
}
.scard-link {
  color: #fff;
  text-decoration: none;
  z-index: 10;
}
.scard-link:hover {
  color: #fff;
  text-decoration: underline;
}
img {
  transition: all 0.3s ease-in-out;
}
.swiper-slide:hover img {
  transform: scale(1.2);
}
.overlay {
  background: rgba(0, 0, 0, 0.4);
  z-index: 9;
}
.card-text.slider {
  --lines: 3;
}
@media screen and (max-width: 768px) {
  .scard-link {
    font-size: 17px !important;
  }
}
@media screen and (max-width: 600px) {
  .swiper-button-prev,
  .swiper-button-next {
    display: none !important;
  }
  .no-padding {
    padding-left: 0 !important;
  }
  .card-text.slider {
    display: none;
  }
}
@media screen and (max-width: 460px) {
  .scard-link {
    font-size: 16px !important;
  }
}
@media screen and (max-width: 433px) {
  .scard-link {
    font-size: 15px !important;
  }
  .card-text.slider {
    --lines: 2;
  }
}

@media screen and (max-width: 390px) {
  .scard-link {
    font-size: 14px !important;
  }
  .card-text.slider {
    --lines: 2;
    font-size: 11px;
  }
}
@media screen and (max-width: 340px) {
  .scard-link {
    font-size: 13px !important;
  }
}
