.navbar {
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 20;
}
.nav-link {
  text-decoration: none;
  color: #272727;
  font-size: 17px;
  font-weight: 500;
  position: relative;
}

.nav-link:hover::after,
.nav-link:active::after {
  background: #e20613;
  transform: scale(1);
}
.btn-search {
  cursor: pointer;
}
.date-info {
  right: 5px;
  bottom: -40px;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.search-inp:focus {
  caret-color: #e20613;
  border-color: #e20613;
}
.post-nav {
  height: 10vh;
  background: rgba(0, 0, 0, 0.4);
}
.add-news-btn {
  transition: var(--trans);
}
.add-news-btn:hover .add-text {
  display: block;
}
.add-text {
  display: none;
}

.ham-btn {
  display: block;
}
.nav-items {
  position: absolute;
  right: 4px;
  top: 8.9vh;
  row-gap: 1em;
  align-items: start !important;
  background: #fff;
  flex-direction: column;
  box-shadow: 10px 0 12px rgba(0, 0, 0, 0.3);
  width: 300px !important;
  padding: 20px !important;
  transform: scale(0);
  transform-origin: top right;
  transition: 0.3s ease-in-out;
  border-radius: 6px;
  z-index: 22;
}

.nav-link {
  width: 100%;
  padding: 10px 0;
}
.nav-link:last-child::before {
  background: none;
}
.nav-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -3px;
  background: rgba(87, 86, 86, 0.5);
}
.nav-items.active {
  transform: scale(1);
}
.nav-link::after {
  content: "";
  position: absolute;
  width: 3px;
  height: 100%;
  border-radius: 15px;
  transform: scale(0);
  transform-origin: top;
  transition: 0.3s ease-in-out;
  background: #000;
  left: -12px;
}
.add-news-btn-mob {
  display: none !important;
}
.ham-edit {
  display: none;
}
@media screen and (max-width: 769px) {
  .ham-edit {
    display: block;
  }
  .add-news-btn-mob {
    display: flex !important;
  }
  .edit-nav.active {
    transform: scale(1);
  }
  .edit-nav {
    position: absolute;
    flex-direction: column;
    background: #fff;
    width: 300px;
    padding: 10px;
    top: 7vh;
    border-radius: 6px;
    box-shadow: var(--shadow);
    gap: 5px !important;
    transform: scale(0);
    transition: var(--trans);
    transform-origin: top right;
  }
  .add-news-btn {
    display: none !important;
  }
  .logout {
    margin-bottom: 10px;
  }
  .logout::after {
    content: "Logout";
  }
  .user-details {
    text-align: center;
    font-size: 18px;
  }
  .acc {
    font-size: 2.5rem !important;
  }
}
@media screen and (max-width: 610px) {
  .search-bar {
    width: 60%;
  }
  .logo {
    width: 150px;
  }
}
@media screen and (max-width: 530px) {
  .edit-pad {
    padding-right: 10px !important;
  }
}
@media screen and (max-width: 450px) {
  .admin-fil-sel {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 390px) {
  .nav-main {
    padding-right: 5px !important;
    padding-left: 5px !important;
  }
}
