.footer-links,
.dev-link {
  color: #fff !important;
  text-decoration: none;
  font-size: 18px;
  letter-spacing: 2px;
}
.footer-links:hover,
.dev-link:hover {
  text-decoration: dotted underline;
}
.dev-link {
  font-size: 15px;
}
@media screen and (max-width: 617px) {
  footer {
    justify-content: center;
  }
}
