:root {
  --shadow: 0 0 12px rgba(0, 0, 0, 0.3);
  --red-color: #e20613;
  --trans: 0.3s ease-in-out;
}
.red-color {
  color: var(--red-color);
}
.form-control,
.form-select,
.form-check-input,
.btn,
.btn-close {
  box-shadow: none !important;
}
.pointer {
  cursor: pointer;
}
.btn-rounded {
  border-radius: 25px;
}
.card-text,
.card-title {
  overflow: hidden;
  --lines: 3;
  --line-height: 1.4;
  line-height: var(--line-height);
  max-height: calc(var(--lines) * 1em * var(--line-height));
}

.card-text {
  font-size: 13px;
}
.card {
  transition: var(--trans);
}
.card:hover {
  box-shadow: var(--shadow);
}
.bar {
  width: 2px;
  height: 20px;
  background: var(--red-color);
}
