.byline-underline {
  cursor: pointer;
}
.byline-underline:hover {
  text-decoration: dotted underline var(--red-color);
}
.btn-glass {
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  border-radius: 50%;
  width: 38px;
  height: 38px;
}
@media screen and (max-width: 500px) {
  .title-news {
    font-size: 20px !important;
  }
}
@media screen and (max-width: 420px) {
  .title-news {
    font-size: 19px !important;
  }
}
